<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NaverUI</title>
</head>
<body>
<div class="container">
    <div class="item item1">게시판 글머리</div>
    <div class="container2">
        <div class="item item2">
            <nav>
                <ul>
                    <li><a href="./board">통합게시판</a></li>
                    <li><a href="#">자유게시판</a></li>
                    <li><a href="#">유머게시판</a></li>
                    <li><a href="#">패치노트</a></li>
                    <li><a href="#">뉴스</a></li>
                    <li><a href="#">6번 게시판#</a></li>
                    <li><a href="#">7번 게시판#</a></li>
                    <li><a href="#">8번 게시판#</a></li>

                </ul>
            </nav>
        </div>
        <div class="item item3">게시판 작성</div>
    </div>

</div>

</body>
</html>